*{font:11px Helvetica,Arial,sans-serif;}
a{text-decoration:none;border:none;}
h1{font-size:20px;}
html,body{padding:0;margin:0;}
body{background:#4D4D4D;-webkit-text-size-adjust: none;}
div#header{width:960px;margin:15px auto;padding:10px;background:#3D3D3D;color:#FFFFFF;}
div#header div#logoShell a#logo img{border:none;}
div#header div#logoShell a#logo:visited img{border:none;}
div#header div.shopWord{font-size:14px;color:#FFFFFF;padding:0 5px;}
div#header div#jumpLinks {margin:10px}
div#header div#jumpLinks a{font-size:14px;font-weight:bold;color:#FFFFFF;padding:0 5px;margin-left:10px;}
div#header a.visitKeggyLink{color:#FFFFFF;}
div#header a.cartLink{color:#FFFFFF;font-weight:bold;font-size:14px;}
div#footer{width:980px;margin:15px auto;background:#3D3D3D;color:#767676;}
div#footer a.devLink{padding:10px;display:block;color:#767676;}
div#footer a.devLink:hover{background:#000000;color:#C9AE52;}
#contentShell{width:960px;margin:0 auto;padding:10px;background:#ECECEC;color:#282828;}
#contentShell div#slideshow img{width:960px;height:450px;}
/*#contentShell div#itemListShell div.itemGroup{float:left;}*/
div#contentShell div#itemListShell a.itemLink{text-decoration:none;border:none;color:#282828;}
div#contentShell div#itemListShell a.itemLink img{border:none;}
div#contentShell div#itemListShell a.itemLink:hover{color:#25A29E;}
div#contentShell div#itemListShell div.itemShell{float:left;margin-top:10px;background:#FFFFFF;}
div#contentShell div#itemListShell div.itemShell div.imgShell{border:6px solid transparent;}
div#contentShell div#itemListShell div.itemShell img{display:block;width:222px;height:147px;}
div#contentShell div#itemListShell div.itemShell div.itemInfo{padding:6px;}
div#contentShell div#itemListShell div.itemShell div.itemInfo p{padding:0;margin:5px 0;color:#555;}
div#contentShell h1#productItemTitle{margin:0 0 15px;font-size:24px;}
div#contentShell h1#productItemTitle a{font-size:24px;color:#25A29E;}
div#contentShell div#productItemImageShell{float:left;width:570px;}
div#contentShell div#productItemImageShell div#productLrgImgShell img{width:570px;height:379px;}
div#contentShell div#productItemImageShell img{display:block;}
div#contentShell div#productItemImageShell div#productItemThumbnails{background:#FFFFFF;padding:4px;}
div#contentShell div#productItemImageShell div#productItemThumbnails a{float:left;margin-right:4px;}
div#contentShell div#productItemImageShell div#productItemThumbnails a img{border:none;width:80px;height:53px;}
div#contentShell div#productItemInfoShell{float:right;width:360px;padding:10px;background:#FFFFFF;}
div#contentShell div#productItemInfoShell h2.productInfoTitle{margin:0 0 10px;font-size:16px;font-weight:bold;color:#555555;}
div#contentShell div#productItemInfoShell h3{margin:0 0 5px;font-size:14px;}
div#contentShell div#productItemInfoShell div#productItemStrapColorShell,div#contentShell div#productItemInfoShell div#productItemQuantityShell,div#contentShell div#productItemInfoShell div#productItemRingSizeShell,div#contentShell div#productItemInfoShell div#productItemBeltSizeShell{margin-bottom:10px;}
div#contentShell div#productItemInfoShell input#productItemQuantity{width:80px;border:1px solid #BBB;padding:3px;font-size:14px;}
div#contentShell div#productItemInfoShell div#productShippingShell{float:right;}
div#contentShell div#productItemInfoShell div#productShippingShell p.shippingText{font-size:14px;margin:8px 0;}
div#contentShell div#productItemInfoShell div#productItemPriceSection{float:right;}
div#contentShell div#productItemInfoShell div#productItemTotalSection{float:right;}
div#contentShell div#productItemInfoShell h4.productItemPriceLabel{font-size:16px;font-weight:normal;margin:0 0 5px;}
div#contentShell div#productItemInfoShell span.productItemPriceValue{font-size:16px;font-weight:normal;margin-left:8px;display:block;text-align:right;float:right;}
div#contentShell div#productItemInfoShell h3.productItemTotalLabel{font-size:18px;font-weight:bold;}
div#contentShell div#productItemInfoShell span.productItemTotalValue{font-size:18px;font-weight:bold;margin-left:8px;display:block;text-align:right;float:right;}
div#contentShell div#productItemInfoShell div#productAddToCartShell a#productAddToCartLink{display:block;margin:15px 0 0;padding:10px;text-align:center;font-size:16px;font-weight:bold;background:#25A29E;color:#FFFFFF}
div#contentShell div#productItemInfoShell div#productAddToCartShell a#productAddToCartLink:hover{background:#04B3AE;}
div#contentShell div#productItemInfoShell div#productAddToCartShell a#productAddToCartLink:active{background:#25A29E;}

.clearfix{clear:both;}
.vSpace14{padding:7px 0;}
.vSpace30{padding:15px 0;}
.mr8{margin-right:8px;}
.p10{padding:10px;}
.hSpace26{padding:0 13px;}
.groupTitle{margin:0;background:#25A29E;color:#FFFFFF;padding:5px;font-weight:bold;}
.fl{float:left;}
.fr{float:right;}
.bl{display:block;}

/* ============ */
/* = SWATCHES = */
/* ============ */
ul#swatchesShell{list-style:none;padding:0;margin:0 0 10px;}
ul#swatchesShell li.swatchShell{float:left;margin:0 5px 5px 0;width:115px;}
span.swatch{display:block;float:left;margin-right:5px;width:16px;height:16px;background:#DDDDDD;border:1px solid #DDDDDD;}
span.swatch span.largeSwatch{width:50px;height:50px;position:relative;top:-18px;left:-18px;border:1px solid #DDDDDD;display:none;}
ul#swatchesShell li.swatchShell:hover{cursor:pointer;}
ul#swatchesShell li.swatchShell:hover span.largeSwatch{display:block;}
span.swatchLabel{line-height:1.9em;}
span.indigo{background:#233A4B;}
span.chilly{background:#E9383E;}
span.mushroom{background:#BEAA94;}
span.ivory{background:#F3EEE3;}
span.pearlWhite{background:#FEFFFE;}
span.turquoise{background:#00A0A9;}
span.capri{background:#93C7CF;}
span.sweetSage{background:#8B9B89;}
span.ceramicPink{background:#EED1D8;}
span.surfElegance{background:#D8EFEF;}
span.cerise{background:#EC6684;}
span.pumpkin{background:#EB6846;}
span.black{background:#000000;}
span.sunshine{background:#FFE582;}
